<h1>{{title}}</h1>
<p>Upload a photo to your account below.</p>

<form method="POST" enctype="multipart/form-data" role="form">

    <p><input type="text" name="{{photo.name}}" placeholder="Name" /></p>
    <p><input type="file" name="{{photo.image}}" /></p>
    <p><input type="submit" value="Upload" /></p>

</form>